In [1]:
import pandas as pd

import matplotlib.pyplot as plt

from collections import Counter

%matplotlib inline

In [90]:
# Read in the data
tb = pd.read_csv('../data/team_batting_2018-05-12.csv')
tp = pd.read_csv('../data/team_pitching_2018-05-12.csv')
pp = pd.read_csv('../data/player_pitching_2018-05-12.csv') # Starting Pitchers only

In [91]:
print(tb.shape)
print(tp.shape)
print(pp.shape)

(1162, 30)
(1162, 38)
(1192, 40)

In [92]:
# Extract Doubleheader information from date, and make its own feature
tb['Game#'] = tb['Date'].apply(lambda x: int(x[-2]) if x[-1]==')' else 1)
tp['Game#'] = tp['Date'].apply(lambda x: int(x[-2]) if x[-1]==')' else 1)
pp['Game#'] = pp['Date'].apply(lambda x: int(x[-2]) if x[-1]==')' else 1)

In [93]:
# Remove Doubleheader information from date
tb['Date'] = tb['Date'].apply(lambda x: x[:10])
tp['Date'] = tp['Date'].apply(lambda x: x[:10])
pp['Date'] = pp['Date'].apply(lambda x: x[:10])

In [94]:
# Make Date a datetime type
tb['Date'] = pd.to_datetime(tb['Date'])
tp['Date'] = pd.to_datetime(tp['Date'])
pp['Date'] = pd.to_datetime(pp['Date'])

In [95]:
# Sort team df's on Date, and then Team
tb.sort_values(['Date', 'Tm'], inplace=True)
tp.sort_values(['Date', 'Tm'], inplace=True)
pp.sort_values(['Date', 'Player'], inplace=True)

In [96]:
# Extract Win/Loss information from 'Rslt', and make its own feature
tb['Win/Loss'] = tb['Rslt'].apply(lambda x: 1 if x[0]=='W' else 0)
tp['Win/Loss'] = tp['Rslt'].apply(lambda x: 1 if x[0]=='W' else 0)
pp['Win/Loss'] = pp['Rslt'].apply(lambda x: 1 if x[0]=='W' else 0)

In [97]:
# Create Strikes-per-pitch, possible indicator of pitcher strength
tp['Str/Pit'] = tp['Str'] / tp['Pit']
pp['Str/Pit'] = pp['Str'] / pp['Pit']

In [98]:
# Create BattersFaced-per-inning-pitched, better pitches will face fewer batters
pp['BF/IP'] = pp['BF'] / pp['IP']

In [99]:
# Let's Drop the 2nd game of doubleheaders to simplify 
tb = tb[tb['Game#'].apply(lambda x: True if x==1 else False)]
tp = tp[tp['Game#'].apply(lambda x: True if x==1 else False)]

In [102]:
print(tb.shape)
print(tp.shape)
print(pp.shape)

(1144, 32)
(1144, 41)
(1192, 44)

In [103]:
tb_window = ['PA', 'R', 'H', '2B', '3B', 'HR', 'RBI', # batting strength
             'SO', 'GDP', 'LOB', # batting weakness
             'SB', # running strength
             'CS', # running weakness
             'Win/Loss', # overall team winningness
             'WPA', 'RE24', 'aLI' # BR Measures
            ]

tp_window = ['BF', 'R', 'H', '2B', '3B', 'ER', 'HR', 'Pit',# opponent pitching weakness
             'SO', 'WP', 'Str', 'GDP', 'Str/Pit', 'Win/Loss', # opponent pitching strength
             'WPA', 'RE24', 'aLI', # BR Measures
             '#' # May want to track average number of pitchers used
            ]

pp_window = ['IP', # May want to track deepness of starter
              'DFS(DK)', 'DFS(FD)', # May be rather informative
              'R', 'H', '2B', '3B', 'ER', 'HR', 'BB', 'BF/IP', 'WP', # opponent starting p weakness
              'SO', 'Str/Pit', 'GDP', # opponent starting p strength
              'GSc', 'WPA', 'RE24', 'aLI' # BR Measures
             ]

In [104]:
### DO I NEED TO SET DATE TO THE INDEX BEFORE ROLLING???

## Rolling Team Batting

In [105]:
teams = tb['Tm'].unique()

In [106]:
rolling_cols = []
for i in tb_window:
    rolling_cols.append('ewm10_'+i)
for j in tb_window:
    rolling_cols.append('rm10_'+j)
    
rolling_cols.append('Tm')
rolling_cols.append('Date')

In [107]:
rolling_cols

['ewm10_PA',
 'ewm10_R',
 'ewm10_H',
 'ewm10_2B',
 'ewm10_3B',
 'ewm10_HR',
 'ewm10_RBI',
 'ewm10_SO',
 'ewm10_GDP',
 'ewm10_LOB',
 'ewm10_SB',
 'ewm10_CS',
 'ewm10_Win/Loss',
 'ewm10_WPA',
 'ewm10_RE24',
 'ewm10_aLI',
 'rm10_PA',
 'rm10_R',
 'rm10_H',
 'rm10_2B',
 'rm10_3B',
 'rm10_HR',
 'rm10_RBI',
 'rm10_SO',
 'rm10_GDP',
 'rm10_LOB',
 'rm10_SB',
 'rm10_CS',
 'rm10_Win/Loss',
 'rm10_WPA',
 'rm10_RE24',
 'rm10_aLI',
 'Tm',
 'Date']

In [108]:
tb_rolling = pd.DataFrame(columns = rolling_cols)

for team in teams:
    tb_team = tb[tb['Tm']==team]
    
    ewm10 = tb_team[tb_window].ewm(span=10, min_periods=1).mean().shift()
    rm10 = tb_team[tb_window].rolling(window=10, min_periods=1).mean().shift()
    
    this_df = pd.concat([ewm10, rm10], axis=1)

    this_df['Tm'] = team
    this_df['Date'] = tb_team['Date']
    this_df.columns = rolling_cols
    
    tb_rolling = pd.concat([tb_rolling, this_df])

In [109]:
tb_rolling.set_index(['Date', 'Tm'], drop=False, inplace=True)
tb.set_index(['Date', 'Tm'], drop=False, inplace=True)

In [110]:
print(tb.shape)
print(tb_rolling.shape)

(1144, 32)
(1144, 34)

In [111]:
master = tb.merge(tb_rolling, how='left', on=['Date', 'Tm'])

In [112]:
master.shape

(1144, 64)

In [113]:
master[master['Tm']=='ARI'][['Date', 'H', 'rm10_H']]

           Date   H     rm10_H
0    2018-03-29  12        NaN
26   2018-03-30   8  12.000000
48   2018-03-31   5  10.000000
98   2018-04-02  14   8.333333
122  2018-04-03   8   9.750000
148  2018-04-04   7   9.400000
172  2018-04-05   9   9.000000
210  2018-04-07   5   9.000000
240  2018-04-08   7   8.500000
268  2018-04-09   5   8.333333
292  2018-04-10   6   8.000000
322  2018-04-11   9   7.400000
368  2018-04-13  10   7.500000
396  2018-04-14  10   8.000000
420  2018-04-15   4   7.600000
458  2018-04-17   3   7.200000
488  2018-04-18  10   6.800000
514  2018-04-19   7   6.900000
532  2018-04-20   1   7.100000
562  2018-04-21  10   6.500000
592  2018-04-22   6   7.000000
638  2018-04-24  11   7.000000
664  2018-04-25   5   7.200000
694  2018-04-26  11   6.700000
714  2018-04-27   6   6.800000
744  2018-04-28   9   7.000000
774  2018-04-29   8   7.600000
804  2018-04-30  13   7.400000
826  2018-05-01  10   8.000000
856  2018-05-02   6   8.900000
886  2018-05-03   6   8.500000
906  2018-05-04   1   8.500000
936  2018-05-05   6   7.500000
966  2018-05-06   5   7.600000
1010 2018-05-08  12   7.000000
1040 2018-05-09   8   7.600000
1068 2018-05-10   8   7.500000
1088 2018-05-11   5   7.500000
1116 2018-05-12   5   6.700000

## Rolling Opposing Pitching Staff, Team Level

In [114]:
rolling_cols = []
for i in tp_window:
    rolling_cols.append('ewm10_'+i)
for j in tp_window:
    rolling_cols.append('rm10_'+j)
    
rolling_cols.append('Tm')
rolling_cols.append('Date')

In [115]:
rolling_cols

['ewm10_BF',
 'ewm10_R',
 'ewm10_H',
 'ewm10_2B',
 'ewm10_3B',
 'ewm10_ER',
 'ewm10_HR',
 'ewm10_Pit',
 'ewm10_SO',
 'ewm10_WP',
 'ewm10_Str',
 'ewm10_GDP',
 'ewm10_Str/Pit',
 'ewm10_Win/Loss',
 'ewm10_WPA',
 'ewm10_RE24',
 'ewm10_aLI',
 'ewm10_#',
 'rm10_BF',
 'rm10_R',
 'rm10_H',
 'rm10_2B',
 'rm10_3B',
 'rm10_ER',
 'rm10_HR',
 'rm10_Pit',
 'rm10_SO',
 'rm10_WP',
 'rm10_Str',
 'rm10_GDP',
 'rm10_Str/Pit',
 'rm10_Win/Loss',
 'rm10_WPA',
 'rm10_RE24',
 'rm10_aLI',
 'rm10_#',
 'Tm',
 'Date']

In [116]:
tp_rolling = pd.DataFrame(columns = rolling_cols)

for team in teams:
    tp_team = tp[tp['Tm']==team]
    
    ewm10 = tp_team[tp_window].ewm(span=10, min_periods=1).mean().shift()
    rm10 = tp_team[tp_window].rolling(window=10, min_periods=1).mean().shift()
    
    this_df = pd.concat([ewm10, rm10], axis=1)

    this_df['Tm'] = team
    this_df['Date'] = tp_team['Date']
    this_df.columns = rolling_cols
    
    tp_rolling = pd.concat([tp_rolling, this_df])

In [117]:
tp_rolling.set_index(['Date', 'Tm'], drop=False, inplace=True)

In [118]:
print(tp_rolling.shape)
print(tp.shape)

(1144, 38)
(1144, 41)

In [119]:
master = master.merge(tp_rolling, how='left', left_on=['Date', 'Opp'], right_on=['Date', 'Tm'])

In [120]:
master.shape

(1144, 101)

In [121]:
master[master['Opp']=='ARI'][['Date', 'SO', 'rm10_SO_y']]

           Date  SO  rm10_SO_y
7    2018-03-29  12        NaN
31   2018-03-30  11  12.000000
56   2018-03-31  11  11.500000
111  2018-04-02  11  11.333333
133  2018-04-03   4  11.250000
156  2018-04-04  15   9.800000
190  2018-04-05  13  10.666667
235  2018-04-07   9  11.000000
263  2018-04-08   6  10.750000
286  2018-04-09  12  10.222222
316  2018-04-10  12  10.400000
346  2018-04-11  10  10.400000
380  2018-04-13   8  10.300000
406  2018-04-14   5  10.000000
426  2018-04-15  13   9.400000
482  2018-04-17   8  10.300000
509  2018-04-18  13   9.600000
529  2018-04-19   6   9.600000
554  2018-04-20   6   9.300000
584  2018-04-21  10   9.300000
612  2018-04-22  15   9.100000
656  2018-04-24  16   9.400000
684  2018-04-25  11  10.000000
708  2018-04-26   7  10.300000
743  2018-04-27  11  10.500000
773  2018-04-28  10  10.300000
803  2018-04-29   4  10.500000
813  2018-04-30  11   9.600000
839  2018-05-01   7  10.100000
869  2018-05-02   6  10.200000
896  2018-05-03   8   9.800000
916  2018-05-04   8   9.100000
946  2018-05-05   7   8.300000
976  2018-05-06   7   7.900000
1023 2018-05-08  11   7.900000
1053 2018-05-09  10   7.900000
1087 2018-05-10   6   7.900000
1115 2018-05-11   4   8.100000
1143 2018-05-12   7   7.400000

## Rolling Opposing Starting Pitcher

In [123]:
rolling_cols = []
for i in pp_window:
    rolling_cols.append('ewm10_'+i)
for j in pp_window:
    rolling_cols.append('rm10_'+j)

rolling_cols.append('Player')
rolling_cols.append('Tm')
rolling_cols.append('Date')

In [124]:
rolling_cols

['ewm10_IP',
 'ewm10_DFS(DK)',
 'ewm10_DFS(FD)',
 'ewm10_R',
 'ewm10_H',
 'ewm10_2B',
 'ewm10_3B',
 'ewm10_ER',
 'ewm10_HR',
 'ewm10_BB',
 'ewm10_BF/IP',
 'ewm10_WP',
 'ewm10_SO',
 'ewm10_Str/Pit',
 'ewm10_GDP',
 'ewm10_GSc',
 'ewm10_WPA',
 'ewm10_RE24',
 'ewm10_aLI',
 'rm10_IP',
 'rm10_DFS(DK)',
 'rm10_DFS(FD)',
 'rm10_R',
 'rm10_H',
 'rm10_2B',
 'rm10_3B',
 'rm10_ER',
 'rm10_HR',
 'rm10_BB',
 'rm10_BF/IP',
 'rm10_WP',
 'rm10_SO',
 'rm10_Str/Pit',
 'rm10_GDP',
 'rm10_GSc',
 'rm10_WPA',
 'rm10_RE24',
 'rm10_aLI',
 'Player',
 'Tm',
 'Date']

In [125]:
pitchers = pp['Player'].unique()

In [126]:
pp[pp['Player']==pitchers[0]]

,Rk,Player,Date,Tm,Opp,Rslt,AppDec,IP,H,R,...,ERA,WPA,RE24,aLI,DFS(DK),DFS(FD),Game#,Win/Loss,Str/Pit,BF/IP
1181,1182,Aaron Nola\nolaaa01,2018-03-29,PHI,ATL,L 5-8,GS-6,5.1,3,1,...,1.69,0.299,2.355,0.912,13.60,22.0,1,0,0.705882,3.921569
1031,1032,Aaron Nola\nolaaa01,2018-04-04,PHI,NYM,L 2-4,GS-5,5.0,4,2,...,3.60,0.063,0.506,0.857,9.85,21.0,1,0,0.632184,4.400000
883,884,Aaron Nola\nolaaa01,2018-04-10,PHI,CIN,W 6-1,GS-8 W,8.0,3,1,...,1.12,0.386,2.964,1.026,28.40,51.0,1,1,0.679612,3.625000
741,742,Aaron Nola\nolaaa01,2018-04-16,PHI,ATL,L 1-2,GS-6 L,6.0,4,2,...,3.00,0.070,1.040,1.028,10.50,18.0,1,0,0.623529,3.666667
611,612,Aaron Nola\nolaaa01,2018-04-21,PHI,PIT,W 6-2,GS-7 W,7.0,6,2,...,2.57,0.152,1.469,0.943,30.15,54.0,1,1,0.728155,3.714286
457,458,Aaron Nola\nolaaa01,2018-04-27,PHI,ATL,W 7-3,GS-7 W,7.0,7,3,...,3.86,0.162,0.469,1.164,16.95,36.0,1,1,0.683168,4.000000
312,313,Aaron Nola\nolaaa01,2018-05-02,PHI,MIA,W 6-0,GS-8 W,7.1,4,0,...,0.00,0.430,3.332,0.977,31.50,55.0,1,1,0.663366,3.521127
156,157,Aaron Nola\nolaaa01,2018-05-08,PHI,SFG,W 4-2,GS-7 W,7.0,5,1,...,1.29,0.268,2.469,0.952,38.75,66.0,1,1,0.688073,3.571429
18,19,Aaron Nola\nolaaa01,2018-05-13,PHI,NYM,W 4-2,GS-6 W,6.0,9,1,...,1.50,0.170,1.973,1.392,16.90,39.0,1,1,0.696629,4.166667

In [127]:
pp_rolling = pd.DataFrame(columns = rolling_cols)

for pitcher in pitchers:
    pp_pitcher = pp[pp['Player']==pitcher]
    
    ewm10 = pp_pitcher[pp_window].ewm(span=10, min_periods=1).mean().shift()
    rm10 = pp_pitcher[pp_window].rolling(window=10, min_periods=1).mean().shift()
    
    this_df = pd.concat([ewm10, rm10], axis=1)

    this_df['Player'] = pitcher
    this_df['Tm'] = pp_pitcher['Tm']
    this_df['Date'] = pp_pitcher['Date']
    this_df.columns = rolling_cols
    
    pp_rolling = pd.concat([pp_rolling, this_df])

In [128]:
print(pp_rolling.shape)
pp_rolling.head()

(1192, 41)

,ewm10_IP,ewm10_DFS(DK),ewm10_DFS(FD),ewm10_R,ewm10_H,ewm10_2B,ewm10_3B,ewm10_ER,ewm10_HR,ewm10_BB,...,rm10_SO,rm10_Str/Pit,rm10_GDP,rm10_GSc,rm10_WPA,rm10_RE24,rm10_aLI,Player,Tm,Date
1181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aaron Nola\nolaaa01,PHI,2018-03-29
1031,5.100000,13.600000,22.000000,1.000000,3.000000,1.000000,0.0,1.000000,0.000000,1.000000,...,3.000000,0.705882,0.000000,60.00,0.299000,2.355000,0.912000,Aaron Nola\nolaaa01,PHI,2018-04-04
883,5.045000,11.537500,21.450000,1.550000,3.550000,0.450000,0.0,1.550000,0.550000,2.650000,...,3.500000,0.669033,0.500000,55.50,0.181000,1.430500,0.884500,Aaron Nola\nolaaa01,PHI,2018-04-10
741,6.232890,18.316113,33.328904,1.328904,3.328904,0.269103,0.0,1.328904,0.328904,2.790698,...,4.333333,0.672559,0.666667,62.00,0.249333,1.941667,0.931667,Aaron Nola\nolaaa01,PHI,2018-04-16
611,6.156163,15.741052,28.278713,1.550000,3.550000,0.180446,0.0,1.550000,0.220545,2.200743,...,3.750000,0.660302,0.750000,60.75,0.204500,1.716250,0.955750,Aaron Nola\nolaaa01,PHI,2018-04-21

In [129]:
pp_rolling.set_index(['Date', 'Tm'], drop=False, inplace=True)

In [131]:
print(pp_rolling.shape)
print(master.shape)

(1192, 41)
(1144, 101)

In [132]:
master = master.merge(pp_rolling, how='left', left_on=['Date', 'Opp'], right_on=['Date', 'Tm'])

In [133]:
master.shape

(1162, 141)

# Modeling

In [142]:
list(master.isnull().sum())

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [136]:
master.dropna(inplace=True)

In [143]:
list(master.columns)

['Rk',
 'Date',
 'Tm_x',
 'Opp',
 'Rslt',
 'PA',
 'AB',
 'R',
 'H',
 '2B',
 '3B',
 'HR',
 'RBI',
 'BB',
 'IBB',
 'SO',
 'HBP',
 'SH',
 'SF',
 'ROE',
 'GDP',
 'SB',
 'CS',
 'WPA',
 'RE24',
 'aLI',
 'LOB',
 '#',
 'Attendance',
 'GmLen',
 'Game#',
 'Win/Loss',
 'ewm10_PA',
 'ewm10_R_x',
 'ewm10_H_x',
 'ewm10_2B_x',
 'ewm10_3B_x',
 'ewm10_HR_x',
 'ewm10_RBI',
 'ewm10_SO_x',
 'ewm10_GDP_x',
 'ewm10_LOB',
 'ewm10_SB',
 'ewm10_CS',
 'ewm10_Win/Loss_x',
 'ewm10_WPA_x',
 'ewm10_RE24_x',
 'ewm10_aLI_x',
 'rm10_PA',
 'rm10_R_x',
 'rm10_H_x',
 'rm10_2B_x',
 'rm10_3B_x',
 'rm10_HR_x',
 'rm10_RBI',
 'rm10_SO_x',
 'rm10_GDP_x',
 'rm10_LOB',
 'rm10_SB',
 'rm10_CS',
 'rm10_Win/Loss_x',
 'rm10_WPA_x',
 'rm10_RE24_x',
 'rm10_aLI_x',
 'ewm10_BF',
 'ewm10_R_y',
 'ewm10_H_y',
 'ewm10_2B_y',
 'ewm10_3B_y',
 'ewm10_ER_x',
 'ewm10_HR_y',
 'ewm10_Pit',
 'ewm10_SO_y',
 'ewm10_WP_x',
 'ewm10_Str',
 'ewm10_GDP_y',
 'ewm10_Str/Pit_x',
 'ewm10_Win/Loss_y',
 'ewm10_WPA_y',
 'ewm10_RE24_y',
 'ewm10_aLI_y',
 'ewm10_#',
 'rm10_BF',
 'rm10_R_y',
 'rm10_H_y',
 'rm10_2B_y',
 'rm10_3B_y',
 'rm10_ER_x',
 'rm10_HR_y',
 'rm10_Pit',
 'rm10_SO_y',
 'rm10_WP_x',
 'rm10_Str',
 'rm10_GDP_y',
 'rm10_Str/Pit_x',
 'rm10_Win/Loss_y',
 'rm10_WPA_y',
 'rm10_RE24_y',
 'rm10_aLI_y',
 'rm10_#',
 'Tm_y',
 'ewm10_IP',
 'ewm10_DFS(DK)',
 'ewm10_DFS(FD)',
 'ewm10_R',
 'ewm10_H',
 'ewm10_2B',
 'ewm10_3B',
 'ewm10_ER_y',
 'ewm10_HR',
 'ewm10_BB',
 'ewm10_BF/IP',
 'ewm10_WP_y',
 'ewm10_SO',
 'ewm10_Str/Pit_y',
 'ewm10_GDP',
 'ewm10_GSc',
 'ewm10_WPA',
 'ewm10_RE24',
 'ewm10_aLI',
 'rm10_IP',
 'rm10_DFS(DK)',
 'rm10_DFS(FD)',
 'rm10_R',
 'rm10_H',
 'rm10_2B',
 'rm10_3B',
 'rm10_ER_y',
 'rm10_HR',
 'rm10_BB',
 'rm10_BF/IP',
 'rm10_WP_y',
 'rm10_SO',
 'rm10_Str/Pit_y',
 'rm10_GDP',
 'rm10_GSc',
 'rm10_WPA',
 'rm10_RE24',
 'rm10_aLI',
 'Player',
 'Tm']

In [145]:
drop_cols = ['Rk', 'Date', 'Tm_x', 'Opp', 'Rslt', 'PA', 'AB', 'H', '2B', '3B', 'HR',
            'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'ROE', 'GDP', 'SB', 'CS', 'WPA',
            'RE24', 'aLI', 'LOB', '#', 'Attendance', 'GmLen', 'Game#', 'Win/Loss', 'Tm_y',
            'Player', 'Tm']

In [146]:
model_df = master.drop(drop_cols, axis=1)

In [147]:
X = model_df.drop('R', axis=1)
y = model_df['R']

In [149]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [156]:
ss = StandardScaler()
X = ss.fit_transform(X)

In [157]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [158]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [160]:
lr.score(X_train, y_train)

0.1627174135132453

In [161]:
lr.predict(X_train)

array([3.04450416, 5.4514626 , 4.46612507, 4.92610748, 5.14195094,
       2.67882939, 4.13062231, 3.9131896 , 6.14252595, 2.94602957,
       3.31731197, 4.13014441, 5.48233204, 5.50282249, 3.46474979,
       5.61718529, 3.37566797, 4.41008073, 3.52354536, 4.37390335,
       4.05256576, 3.0179902 , 3.11372548, 4.77695452, 7.38851983,
       5.57767161, 4.74103799, 4.83451122, 5.15005302, 3.3287267 ,
       3.24221312, 3.23979833, 5.57751291, 3.50321655, 6.02223585,
       3.99386436, 5.82687084, 4.41254185, 2.15059874, 6.69635461,
       6.19946562, 4.31306456, 4.11220386, 3.72934935, 5.97663764,
       3.21909731, 3.87171994, 3.68646444, 3.15774564, 4.51105353,
       4.61344601, 4.40579644, 3.01769257, 2.76792114, 4.49375717,
       2.00893907, 4.51814858, 4.27982644, 3.72140502, 5.51387455,
       5.19584415, 4.19006428, 4.82910839, 1.56867658, 3.7554398 ,
       3.45730504, 5.2677703 , 4.7730803 , 5.05561385, 4.03771688,
       3.14640732, 3.24300279, 5.5747659 , 4.67992019, 5.57308007,
       4.11236052, 6.92494178, 6.8135649 , 2.54014071, 7.04453001,
       3.33149247, 4.77109367, 4.44792428, 4.78234239, 6.10925824,
       2.37296471, 5.24021403, 3.09929978, 6.36458894, 5.11905808,
       4.07705845, 6.81255651, 6.00406056, 4.49926717, 4.22054839,
       7.9423472 , 3.49786063, 2.05539517, 5.05866047, 3.18147899,
       5.18409667, 4.36562389, 4.18739016, 3.81977812, 4.42924767,
       3.96456792, 1.79715989, 7.03306446, 4.07676854, 4.87549339,
       3.22096428, 3.93294003, 5.14263571, 5.66746352, 4.52968004,
       3.66114341, 3.386128  , 4.20403829, 5.55295172, 5.84313224,
       3.42759112, 4.77984523, 5.67507542, 4.01517347, 2.83177316,
       4.29294799, 3.65658475, 2.71545192, 5.63995638, 5.73425541,
       5.90177888, 5.10124396, 4.78058782, 5.17361436, 5.93263618,
       2.7777971 , 5.3296726 , 5.72453839, 5.2438936 , 6.25990786,
       3.32241356, 4.59201928, 6.02468186, 2.65030048, 5.52140596,
       5.46324938, 6.17469431, 4.96134791, 4.79621576, 6.68989347,
       3.51386717, 3.66175571, 6.25493484, 3.38692251, 2.86047428,
       4.52933587, 5.22608094, 5.52841256, 3.20258397, 3.89680499,
       4.4330547 , 5.07592763, 4.53923057, 3.80458875, 5.18258622,
       4.13529674, 2.77089648, 6.42383729, 3.26247416, 4.33555131,
       3.32063593, 5.36756504, 3.41786972, 6.95882822, 6.72895219,
       3.18634076, 4.16108746, 3.46528813, 5.93696422, 3.52849314,
       3.47595948, 5.03864045, 6.44104643, 4.2796727 , 4.05414514,
       6.67398358, 5.17712572, 3.50280771, 2.72514574, 5.24738549,
       4.63730265, 6.10598971, 3.03113782, 5.38258181, 2.80434942,
       4.63132722, 6.8570981 , 2.57620593, 3.17754611, 6.68869385,
       2.4455751 , 5.07911656, 1.96288944, 3.69425348, 6.81938434,
       4.48220284, 3.51137838, 5.55203408, 5.01495315, 3.14622165,
       2.52693281, 7.23540271, 6.40663749, 5.33013569, 4.59678628,
       4.51582897, 6.4511085 , 3.63923758, 5.09588062, 3.40306177,
       5.17385937, 4.33739559, 4.52317399, 5.7481195 , 5.60064697,
       1.475564  , 3.84330604, 3.72290736, 3.24084181, 6.76027052,
       5.29591104, 5.66865808, 5.5175817 , 3.88895536, 2.97070778,
       4.666871  , 6.78005965, 3.75393431, 5.32580333, 4.48581366,
       5.1609175 , 6.31937165, 3.13175979, 8.35933972, 4.34974196,
       3.24717975, 3.86873045, 4.36421073, 6.68929026, 5.71921242,
       4.34512053, 3.10493967, 4.0887354 , 5.33485661, 5.05785908,
       3.74154388, 5.73448199, 3.70080719, 3.86614284, 1.57481933,
       4.67740052, 5.39519652, 3.80155232, 4.82985499, 4.32964551,
       5.45590006, 4.84016143, 6.40875711, 6.71935172, 6.14934503,
       4.05205828, 2.68963661, 5.80145892, 6.05516507, 4.15596304,
       4.84708905, 4.68371521, 6.9771678 , 3.6102259 , 2.40995499,
       5.0103902 , 4.12244379, 4.23955986, 4.96995614, 5.03954117,
       6.66439086, 2.02991175, 5.37948566, 5.19144041, 3.49139337,
       3.87870186, 4.12321622, 2.66725701, 5.93889   , 5.8756562 ,
       2.95440148, 4.70607085, 5.91091843, 2.918603  , 3.5633146 ,
       8.14933905, 3.35376514, 3.82147001, 5.67245576, 4.00420446,
       2.97115194, 2.78926496, 5.74044416, 4.4184049 , 5.65474585,
       5.5107665 , 3.97073954, 5.44941067, 4.2780044 , 5.51119901,
       2.25680559, 2.52416319, 2.42417227, 2.03953144, 4.77070565,
       5.63904946, 2.96952414, 3.58744039, 5.409817  , 3.61713125,
       6.40316882, 5.53716363, 2.99403248, 6.85346832, 5.49286388,
       5.32261445, 3.90496203, 4.52221647, 4.43384151, 5.07665841,
       7.62434645, 3.28299792, 5.06854053, 4.73895609, 3.61103568,
       6.54115828, 7.20592909, 5.30850518, 3.77070489, 3.33713274,
       3.71877928, 4.0328571 , 5.62642833, 3.67900677, 4.10044939,
       4.83490611, 3.92309119, 3.22204198, 2.35063521, 2.07502028,
       3.59429462, 5.5001305 , 4.02968424, 5.6509727 , 4.9857607 ,
       7.11667854, 3.58668035, 4.85787199, 6.98164207, 5.75729498,
       3.49327786, 4.87372343, 3.3881531 , 4.4287557 , 4.05731619,
       3.4708389 , 5.25890618, 2.79247347, 5.70374587, 4.79261084,
       5.75575638, 4.14997026, 3.53125502, 3.75721677, 6.25449919,
       7.34292073, 6.82474926, 3.06938466, 3.98951543, 5.08422737,
       2.79698294, 4.66082585, 4.74176928, 3.21126666, 5.13761199,
       1.48684021, 4.69741431, 5.44988928, 5.35164903, 4.94079693,
       5.5597524 , 4.02992923, 6.07746205, 3.16117771, 6.05370543,
       3.72819604, 5.95415362, 3.22192256, 4.19492843, 6.29854237,
       4.6774472 , 3.63331569, 3.48269392, 4.16777776, 5.12047503,
       2.65326873, 1.54921071, 4.88077036, 5.4184443 , 6.16374232,
       7.25308666, 4.65959125, 5.69279083, 3.37894189, 5.07332562,
       4.09740776, 4.03352431, 6.94072714, 1.8748134 , 2.47743445,
       4.74034611, 3.57179402, 6.30403354, 5.37331283, 7.45721799,
       6.35310024, 5.62196496, 3.91659116, 1.76474738, 7.47195551,
       3.90918624, 5.19723778, 1.4640912 , 3.97070694, 4.92460441,
       3.35543469, 5.74392542, 4.37139229, 5.83860013, 4.84151298,
       5.03473216, 4.98861174, 2.1039474 , 3.81159638, 3.59330561,
       5.66389956, 3.47513631, 5.22963277, 5.39242038, 4.72165918,
       4.58429185, 3.37079007, 5.77115614, 4.97202918, 5.8424316 ,
       2.65942012, 5.97339348, 3.14550325, 5.39488654, 3.14849178,
       5.87694624, 3.68355467, 4.68050706, 3.18446247, 5.10962825,
       2.16451311, 4.13100096, 7.076605  , 5.39977383, 5.50365159,
       4.42467888, 6.0395983 , 3.49457391, 5.03350818, 3.38196452,
       4.87021686, 4.49777909, 5.15377568, 2.9760201 , 4.58591461,
       2.01496772, 4.69614248, 3.87494612, 5.61100802, 5.61576584,
       2.78960346, 5.90836078, 4.61172696, 3.18851154, 3.63978367,
       3.04696687, 3.6702863 , 4.50833929, 5.37475827, 4.11702947,
       4.33951684, 5.93175003, 4.09381958, 2.87077925, 4.88551121,
       5.73815326, 2.8597392 , 4.00900584, 4.38119219, 5.11937002,
       4.57631999, 5.2976586 , 5.45410429, 6.45153398, 3.64891268,
       4.52862541, 3.33881155, 3.90210514, 4.64165485, 5.11213917,
       4.05962668, 5.54266229, 6.11822634, 6.57769914, 3.82579838,
       5.03645322, 6.03662748, 4.01303177, 2.25281063, 6.40360441,
       8.18790971, 3.49128477, 6.53791038, 1.73298691, 4.08490283,
       6.37719742, 5.02677595, 1.33479342, 4.0011593 , 4.57337912,
       3.73655078, 1.84827511, 6.42790667, 4.20865637, 5.17438006,
       4.70260666, 4.06514139, 5.02571549, 5.85259026, 6.38174617,
       5.72350819, 2.49229037, 4.64283369, 3.97300265, 4.33454049,
       4.88021447, 7.19363237, 4.81887156, 3.32628362, 5.13909833,
       5.81974775, 4.35569579, 4.61236956, 4.34157918, 3.84771669,
       3.98910392, 2.90611099, 3.2401618 , 5.23884434, 4.93122899,
       2.77763862, 5.39549068, 6.81941011, 6.77759113, 1.11068179,
       5.18421976, 2.85009518, 3.65159561, 2.80939769, 3.76606642,
       2.6647466 , 1.82556674, 3.43487221, 3.65698201, 2.34015293,
       5.27655924, 5.51316943, 4.5441102 , 3.96599757, 5.71801361,
       4.55733929, 5.63846677, 2.47557484, 3.93956774, 3.29084238,
       3.6970695 , 7.12008023, 7.84964418, 5.63089543, 6.22745619,
       4.84350214, 6.29459666, 7.44049703, 6.64701952, 4.95857525,
       3.89218277, 4.10201294, 4.35832145, 2.10353549, 4.69153781,
       3.96320384, 3.72947467, 8.03139313, 3.86450605, 4.58761232,
       3.51840741, 7.33749607, 3.83365958, 5.75388912, 4.86310161,
       4.09339394, 2.11930211, 4.61528569, 4.78817776, 5.20078103,
       1.25919869, 4.05123229, 6.91195117, 6.52568561, 4.08927745,
       4.7250046 , 5.0910437 , 3.9929243 , 4.01898496, 1.77374864,
       5.46478481, 4.7026721 , 3.83747729, 5.50715155, 3.76172065,
       4.5694271 , 3.84011463, 0.81729338, 4.39714469, 4.63566906,
       3.51948811, 3.59165979, 6.36331815, 6.28438648, 3.83429575,
       3.88508939, 2.59973733, 7.01223778, 4.85789376, 3.86952   ,
       2.86290849, 5.47868872, 6.1507342 , 3.42969226, 4.15204239,
       5.95234857, 4.09625733, 5.36532726, 4.08832683, 2.29808702,
       4.49324365, 4.50024327, 4.81070664, 4.57419401, 3.9819187 ,
       3.60719144, 0.78679905, 8.07480932, 4.53224972, 4.99241163,
       4.90430989, 5.50831802, 4.54148382, 5.32668943, 3.74394873,
       3.80482611, 4.70080193, 4.79577603, 6.57716099, 3.34683898,
       1.98892197, 2.98069548, 5.81052692, 3.96532721, 3.79847772,
       3.18778404, 7.08356376, 5.48337309, 4.70802666, 4.95874977,
       5.38659551, 4.35867037, 3.91150198, 5.44877643, 6.52253679,
       2.99228412, 4.22418166, 5.82862729, 6.11933509, 2.96910864,
       3.7829929 ])

In [163]:
y_train - lr.predict(X_train)

748     0.955496
354     0.548537
844     1.533875
1128    0.073893
467     0.858049
1019    2.321171
171    -2.130622
1098   -0.913190
850    -3.142526
848    -2.946030
564     4.682688
260    -3.130144
817     4.517668
539     1.497178
410     1.535250
520     2.382815
543    -2.375668
948    -2.410081
705     1.476455
469    -0.373903
1008   -2.052566
834    -0.017990
288    -2.113725
865     3.223045
168     2.611480
331    -0.577672
698     3.258962
328     8.165489
1058    7.849947
906     1.671273
          ...
928     2.491682
899     6.458516
275    -3.326689
1075   -1.743949
1076   -1.804826
1081   -3.700802
1134    0.204224
545    -3.577161
140    -2.346839
677     2.011078
511     1.019305
884    -1.810527
1146    1.034673
529     0.201522
150    -0.187784
969    -5.083564
315     2.516627
561     1.291973
428     2.041250
1071    3.613404
1095    1.641330
591     5.088498
1104    3.551224
727     0.477463
379     0.007716
934    -3.224182
1149    1.171373
795    -3.119335
570    -2.969109
599    -0.782993
Name: R, Length: 706, dtype: float64

- Note: I want Home/Away and ADI/weather info

## tb: Team Batting
- PA: Plate Appearances
- AB: At Bats
- R: Runs
- H: Hits
- BB: Bases on Balls
- IBB: Intentional Bases on Balls 
- SO: Strikeouts
- HBP: Hit-by-pitch
- SH: Sacrifice Hits
- SF: Sacrifice Flies
- ROE: Reached on Error
- GDB: Double Plays Grounded Into
- SB: Stolen Bases
- CS: Caught Stealing
- WPA: Win Probability Added for Offensive Player (BR measure)
- RE24: Base-out Runs Added (BR measure)
- aLI: Average Leverage Index (BR measure)
- LOB: Runners Left on Base
- #: Number of Players Used in Game
- GmLen: Game Length (minutes)

## tp: Team Pitching
- ER: Earned Runs Allowed
- UER: Unearned Runs Allowed
- Pit: Number of total pitches
- Str: Number of total strikes
- IR: Number of inherited runners
- IS: Inherited Score
- BF: Batters Faced
- SB: Stolen Bases
- CS: Caught Stealing
- PO: Pickoffs
- BK: Balks
- ERA: Earned Run Average
- WPA: Win Probability added by Pitcher (BR measure)
- RE24: Base-Out Runs Saved (BR measure)
- #: Number of pitchers used in the game

## pp: Player Pitching
- AppDec: Indicates starting and ending of pitcher
- GSc: Game Score (BR Measure)
- WP: Wild Pitches